[submodule "themes/themes/ananke"]
	path = themes/themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "themes/bootstrap"]
	path = themes/bootstrap
	url = https://github.com/digitaldrummerj/hugo-theme-clean-blog-bootstrap
